---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";

import {
  siHomeassistant,
  siGoogleearth,
  si1password,
  siMicrosoftoutlook,
  siStarship,
  siOnlyfans,
} from "simple-icons/icons";

const menuItems = [
  {
    content: "Home",
    href: "/",
    background: "bg-gradient-to-tl from-red-500 to-yellow-500",
    width: 4,
    height: 2,
    disableDescription: true,
    icon: siHomeassistant,
  },
  {
    content: "Interesting Projects",
    href: "/interesting-projects",
    background: "bg-gradient-to-tl from-orange-500 to-blue-500",
    width: 4,
    height: 2,
    disableDescription: true,
    icon: siStarship,
  },
  {
    content: "Self-hosted",
    href: "/self-hosted",
    background: "bg-gradient-to-tl from-lime-500 to-indigo-500",
    width: 4,
    height: 2,
    description: "My self-hosted projects",
    icon: siGoogleearth,
  },
  {
    content: "About",
    href: "/about",
    background: "bg-gradient-to-tl from-purple-500 to-pink-500",
    width: 4,
    height: 2,
    disableDescription: true,
    icon: si1password,
  },
  {
    content: "Contact",
    href: "/contact",
    background: "bg-gradient-to-tl from-teal-500 to-blue-500",
    width: 4,
    height: 2,
    disableDescription: true,
    icon: siMicrosoftoutlook,
  },
  {
    content: "Old Site",
    href: "https://oldsharathcoin.vercel.app",
    background: "bg-gradient-to-tl from-blue-500 to-yellow-500",
    width: 4,
    height: 2,
    disableDescription: true,
    icon: siOnlyfans,
  },
];
---

<Layout title="Menu">
  <div>
    <CardGrid>
      {
        menuItems.map((item, i) => (
          <Card
            style={`
              animation-delay: ${i + 1}0ms;
              animation-name: opening;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;
              animation-duration: 0.7s;
              animation-timing-function: ease-in-out;
            `}
            href={item.href}
            bgColorClass={item.background}
            width={item.width}
            height={item.height}
            disableDescription={item.disableDescription}
            icon={item.icon}>
            {item.content}
            <span slot="description" class="text-center">
              {item.description}
            </span>
          </Card>
        ))
      }
    </CardGrid>
  </div>
</Layout>
