---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";

import {
  siBlogger,
  siDuckduckgo,
  siYoutube,
  siReddit,
  siBitly,
  siFigma,
  siGooglemeet,
  siTeamviewer,
  siInstagram,
  siGithub,
  siBitwarden,
  siPortainer,
  siVisualstudiocode,
  siDiagramsdotnet,
  siZapier,
  siTrello,
  siFirefox,
} from "simple-icons/icons";

const menuItems = [
  {
    content: "Ghost",
    href: "//blog.sharath.co.in",
    background: "bg-gradient-to-tl from-green-900 to-green-400",
    width: 4,
    height: 4,
    description:
      "My private blog. I post here very rarely. You can checkout if there are any posts there. It is powered by Ghost.org",
    icon: siBlogger,
  },
  {
    content: "Draw",
    href: "//draw.sharath.co.in",
    background: "bg-gradient-to-tl from-orange-900 to-indigo-400",
    width: 4,
    height: 2,
    description: "Self-hosted Draw.io instance",
    icon: siDiagramsdotnet,
  },
  {
    content: "SearXNG",
    href: "//search.sharath.co.in",
    background: "bg-gradient-to-tl from-blue-900 to-blue-400",
    width: 4,
    height: 2,
    description: "Private search engine for my personal use. You can use it if you want too.",
    icon: siDuckduckgo,
  },
  {
    content: "CloudTube",
    href: "//youtube.sharath.co.in",
    background: "bg-gradient-to-tl from-red-900 to-red-400",
    width: 4,
    height: 2,
    description: "Alternative YouTube frontend for YouTube addicts.",
    icon: siYoutube,
  },
  {
    content: "Focalboard",
    href: "//trello.sharath.co.in",
    background: "bg-gradient-to-tl from-lime-900 to-lime-400",
    width: 4,
    height: 2,
    description: "Self-hosted Trello alternative",
    icon: siTrello,
  },
  {
    content: "Kutt",
    href: "//tinyurl.sharath.co.in",
    background: "bg-gradient-to-tl from-yellow-700 to-yellow-400",
    width: 2,
    height: 2,
    description: "A free URL shortener.",
    icon: siBitly,
  },
  {
    content: "Penpot",
    href: "//figma.sharath.co.in",
    background: "bg-gradient-to-tl from-purple-900 to-purple-400",
    width: 2,
    height: 2,
    description: "Open source Figma",
    icon: siFigma,
  },
  {
    content: "Jitsi",
    href: "//meet.sharath.co.in",
    background: "bg-gradient-to-tl from-purple-900 to-blue-500",
    width: 2,
    height: 2,
    description: "Alternative to Google Meet",
    icon: siGooglemeet,
  },
  {
    content: "RxResume",
    href: "//resume.sharath.co.in",
    background: "bg-gradient-to-tl from-orange-900 to-orange-400",
    width: 2,
    height: 2,
    description: "Resume builder",
  },
  {
    content: "LibReddit",
    href: "//reddit.sharath.co.in",
    background: "bg-gradient-to-tl from-orange-700 to-red-600",
    width: 4,
    height: 1,
    description: "Alternate frontend for reddit.com",
    icon: siReddit,
  },
  {
    content: "OneDev",
    href: "//onedev.sharath.co.in",
    background: "bg-gradient-to-tl from-gray-900 to-stone-700",
    width: 4,
    height: 1,
    description: "Open source GitLab",
    icon: siGithub,
  },
  {
    content: "RustDesk",
    href: "/info/rustdesk",
    background: "bg-gradient-to-tl from-blue-700 to-green-500",
    width: 4,
    height: 2,
    description: "Open source remote desktop software",
    icon: siTeamviewer,
  },
  {
    content: "Bibliogram",
    href: "//instagram.sharath.co.in",
    background: "bg-gradient-to-tl from-yellow-700 to-lime-600",
    width: 4,
    height: 2,
    description: "Alternate frontend for instagram.com",
    icon: siInstagram,
  },
  {
    content: "BitWarden",
    href: "//vaultwarden.sharath.co.in",
    background: "bg-gradient-to-tl from-blue-900 to-blue-700",
    width: 4,
    height: 1,
    description: "Open source password manager",
    icon: siBitwarden,
  },
  {
    content: "",
    href: "//kasm.sharath.co.in",
    background: "bg-gradient-to-tl from-orange-900 to-gray-700",
    width: 1,
    height: 1,
    description: "KASM",
    icon: siFirefox,
  },
  {
    content: "",
    href: "//portainer.sharath.co.in",
    background: "bg-gradient-to-tl from-green-900 to-green-500",
    width: 1,
    height: 1,
    description: "Open source Docker management",
    icon: siPortainer,
  },
  {
    content: "",
    href: "//code.sharath.co.in",
    background: "bg-gradient-to-tl from-cyan-700 to-cyan-500",
    width: 1,
    height: 1,
    description: "",
    icon: siVisualstudiocode,
  },
  {
    content: "",
    href: "//n8n.sharath.co.in",
    background: "bg-gradient-to-tl from-yellow-900 to-red-500",
    width: 1,
    height: 1,
    description: "",
    icon: siZapier,
  },
];
---

<Layout title="Self-Hosted">
  <div>
    <CardGrid>
      {
        menuItems.map((item, i) => (
          <Card
            style={`
              animation-delay: ${i + 1}0ms;
              animation-name: opening;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;
              animation-duration: 0.7s;
              animation-timing-function: ease-in-out;
            `}
            href={item.href}
            bgColorClass={item.background}
            width={item.width}
            height={item.height}
            icon={item.icon}>
            {item.content}
            <span slot="description" class="text-center">
              {item.description}
            </span>
          </Card>
        ))
      }
    </CardGrid>
  </div>
</Layout>
