---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";

const menuItems = [
  {
    content: "Ghost",
    href: "//blog.sharath.co.in",
    background: "bg-gradient-to-tl from-green-900 to-green-400",
    width: 4,
    height: 4,
    description:
      "My private blog. I post here very rarely. You can checkout if there are any posts there. It is powered by Ghost.org",
  },
  {
    content: "SearXNG",
    href: "//search.sharath.co.in",
    background: "bg-gradient-to-tl from-blue-900 to-blue-400",
    width: 4,
    height: 4,
    description: "Private search engine for my personal use. You can use it if you want too.",
  },
  {
    content: "CloudTube",
    href: "//youtube.sharath.co.in",
    background: "bg-gradient-to-tl from-red-900 to-red-400",
    width: 4,
    height: 2,
    description: "Alternative YouTube frontend for YouTube addicts.",
  },
  {
    content: "LibReddit",
    href: "//reddit.sharath.co.in",
    background: "bg-gradient-to-tl from-teal-900 to-teal-400",
    width: 4,
    height: 4,
    description:
      "Alternate frontend for reddit.com. I use a ton of reddit, so a little bit of privacy while browsing it helps a lot",
  },
  {
    content: "Kutt",
    href: "//tinyurl.sharath.co.in",
    background: "bg-gradient-to-tl from-yellow-700 to-yellow-400",
    width: 2,
    height: 2,
    description: "A free URL shortener.",
  },
  {
    content: "Penpot",
    href: "//figma.sharath.co.in",
    background: "bg-gradient-to-tl from-purple-900 to-purple-400",
    width: 2,
    height: 2,
    description: "Open source Figma",
  },
  {
    content: "Jitsi Meet",
    href: "//meet.sharath.co.in",
    background: "bg-gradient-to-tl from-orange-900 to-orange-500",
    width: 4,
    height: 2,
    description: "Alternative to Google Meet. Just use it to have meetings with people",
  },
  {
    content: "RustDesk",
    href: "/info/rustdesk",
    background: "bg-gradient-to-tl from-blue-700 to-green-500",
    width: 4,
    height: 2,
    description: "Open source remote desktop software",
  },
  {
    content: "Bibliogram",
    href: "//instagram.sharath.co.in",
    background: "bg-gradient-to-tl from-yellow-700 to-lime-600",
    width: 4,
    height: 2,
    description: "Alternate frontend for instagram.com",
  },
  {
    content: "OneDev",
    href: "//onedev.sharath.co.in",
    background: "bg-gradient-to-tl from-gray-900 to-stone-700",
    width: 2,
    height: 1,
  },
  {
    content: "BitWarden",
    href: "//vaultwarden.sharath.co.in",
    background: "bg-gradient-to-tl from-blue-900 to-cyan-500",
    width: 2,
    height: 1,
  },
  {
    content: "Portainer",
    href: "//portainer.sharath.co.in",
    background: "bg-gradient-to-tl from-green-900 to-green-500",
    width: 2,
    height: 1,
  },
  {
    content: "Code",
    href: "//code.sharath.co.in",
    background: "bg-gradient-to-tl from-red-900 to-red-500",
    width: 2,
    height: 1,
  },
];
---

<Layout title="Self-Hosted">
  <div>
    <CardGrid>
      {
        menuItems.map(item => (
          <Card href={item.href} bgColorClass={item.background} width={item.width} height={item.height}>
            {item.content}
            <span slot="description" class="text-center">
              {item.description}
            </span>
          </Card>
        ))
      }
    </CardGrid>
  </div>
</Layout>
