---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";

import {
  siBlogger,
  siDuckduckgo,
  siYoutube,
  siFigma,
  siGooglemeet,
  siTeamviewer,
  siBitwarden,
  siPortainer,
  siVisualstudiocode,
  siPowerapps,
  siGrafana,
  siAmazons3,
  siFormstack,
  siWindowsterminal,
  siPocketbase,
  siMicrodotblog,
  siNextcloud,
  siPastebin,
  siRust,
} from "simple-icons/icons";

const menuItems = [
  {
    content: "Ghost",
    href: "//blog.sharath.co.in",
    background: "bg-gradient-to-tl from-green-900 to-green-400",
    width: 4,
    height: 2,
    description: "My private blog. I post here very rarely.",
    icon: siBlogger,
  },
  {
    content: "SearXNG",
    href: "//search.sharath.co.in",
    background: "bg-gradient-to-tl from-blue-900 to-blue-400",
    width: 4,
    height: 2,
    description: "Private search engine for my personal use. You can use it if you want too.",
    icon: siDuckduckgo,
  },
  {
    content: "CloudTube",
    href: "//youtube.sharath.co.in",
    background: "bg-gradient-to-tl from-red-900 to-red-400",
    width: 4,
    height: 2,
    description: "Alternative YouTube frontend for YouTube addicts.",
    icon: siYoutube,
  },
  {
    content: "Penpot",
    href: "//figma.sharath.co.in",
    background: "bg-gradient-to-tl from-purple-900 to-purple-400",
    width: 2,
    height: 2,
    description: "Open source Figma",
    icon: siFigma,
  },
  {
    content: "Jitsi",
    href: "//meet.sharath.co.in",
    background: "bg-gradient-to-tl from-purple-900 to-orange-500",
    width: 2,
    height: 2,
    description: "Alternative to Google Meet",
    icon: siGooglemeet,
  },
  {
    content: "Appsmith",
    href: "//appsmith.sharath.co.in",
    background: "bg-gradient-to-tl from-red-900 to-red-700",
    width: 4,
    height: 2,
    description: "Power Apps alternative",
    icon: siPowerapps,
  },
  {
    content: "RxResume",
    href: "//resume.sharath.co.in",
    background: "bg-gradient-to-tl from-yellow-900 to-orange-400",
    width: 4,
    height: 2,
    description: "Resume builder",
    icon: siFormstack,
  },
  {
    content: "BitWarden",
    href: "//vaultwarden.sharath.co.in",
    background: "bg-gradient-to-tl from-blue-900 to-blue-700",
    width: 4,
    height: 1,
    description: "Open source password manager",
    icon: siBitwarden,
  },
  {
    content: "Grafana",
    href: "//grafana.sharath.co.in",
    background: "bg-gradient-to-tl from-orange-900 to-orange-500",
    width: 2,
    height: 1,
    description: "My cluster Grafana Dashboards",
    icon: siGrafana,
  },
  {
    content: "MinIO",
    href: "//minio.sharath.co.in",
    background: "bg-gradient-to-tl from-blue-900 to-blue-500",
    width: 2,
    height: 1,
    description: "Minio",
    icon: siAmazons3,
  },
  {
    content: "PocketBase",
    href: "//pocketbase.sharath.co.in/_",
    background: "bg-gradient-to-tl from-stone-900 to-stone-700",
    width: 4,
    height: 1,
    description: "Opensource backend as a service",
    icon: siPocketbase,
  },
  {
    content: "RustPad",
    href: "//pad.sharath.co.in/",
    background: "bg-gradient-to-tl from-yellow-500 to-stone-500",
    width: 4,
    height: 1,
    description: "Online collaborative notepad",
    icon: siRust,
  },
  {
    content: "dpaste",
    href: "//bin.sharath.co.in/",
    background: "bg-gradient-to-tl from-stone-900 to-stone-900",
    width: 4,
    height: 1,
    description: "Private paste bin service",
    icon: siPastebin,
  },
  {
    content: "Nextcloud",
    href: "//cloud.sharath.co.in/",
    background: "bg-gradient-to-tl from-blue-900 to-teal-700",
    width: 4,
    height: 1,
    description: "You know what this is",
    icon: siNextcloud,
  },
  {
    content: "Portainer",
    href: "//portainer.sharath.co.in",
    background: "bg-gradient-to-tl from-green-900 to-green-500",
    width: 2,
    height: 2,
    description: "Container management",
    icon: siPortainer,
  },
  {
    content: "VSCode",
    href: "//code.sharath.co.in",
    background: "bg-gradient-to-tl from-red-700 to-red-500",
    width: 2,
    height: 2,
    description: "VSCode in browser",
    icon: siVisualstudiocode,
  },
  {
    content: "RustDesk",
    href: "/info/rustdesk",
    background: "bg-gradient-to-tl from-cyan-700 to-cyan-500",
    width: 4,
    height: 2,
    description: "Open source remote desktop software",
    icon: siTeamviewer,
  },
  {
    content: "Tabby",
    href: "//tabby.sharath.co.in",
    background: "bg-gradient-to-tl from-teal-900 to-teal-700",
    width: 2,
    height: 2,
    description: "SSH in browser",
    icon: siWindowsterminal,
  },
  {
    content: "Memos",
    href: "//memos.sharath.co.in",
    background: "bg-gradient-to-tl from-yellow-900 to-yellow-500",
    width: 2,
    height: 2,
    description: "My memos",
    icon: siMicrodotblog,
  },
];
---

<Layout title="Self-Hosted">
  <div>
    <CardGrid>
      {
        menuItems.map((item, i) => (
          <Card
            style={`
              animation-delay: ${i + 1}0ms;
              animation-name: opening;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;
              animation-duration: 0.7s;
              animation-timing-function: ease-in-out;
            `}
            href={item.href}
            bgColorClass={item.background}
            width={item.width}
            height={item.height}
            icon={item.icon}>
            {item.content}
            <span slot="description" class="text-center">
              {item.description}
            </span>
          </Card>
        ))
      }
    </CardGrid>
    <div class="text-center mt-6">
      <a
        class="hover:underline transition-transform"
        href="https://status.sharath.co.in/"
        target="_blank"
        rel="noopener noreferrer">
        Status
      </a>
    </div>
  </div>
</Layout>
